<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container p-10 h-full flex flex-col" id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <br>
    <div *ngIf="folder == 'Home'" class="flex">
      <p class="flex w-max">Choose a flow below to get started &nbsp;&nbsp;</p>
      <span class="animate-bounce flex w-max" role="img" aria-label="point_down_emoji">👇</span>
    </div>
    <div *ngIf="folder == 'Home'" class="flex h-full">
      <div class="flex place-self-center">

        <div class="flex flex-col bg-gray-100 rounded-xl p-4 shadow-lg w-1/2 mr-8" routerLink="/folder/Home/core-returns">
          <ion-icon color="primary" class="text-black w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" slot="start" ios="scan-circle-outline" md="scan-circle-sharp"></ion-icon>
          <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <blockquote>
              <span class="text-lg font-semibold text-black">
                Core Returns Flow
              </span>
            </blockquote>
          </div>
        </div>

        <div class="flex flex-col bg-gray-100 rounded-xl p-4 shadow-lg w-1/2" routerLink="/folder/Home/customer-returns">
          <ion-icon color="primary" class="text-black w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" slot="start" ios="cart-outline" md="cart-sharp"></ion-icon>
          <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <blockquote>
              <span class="text-lg font-semibold text-black">
                Customer Returns flow
              </span>
            </blockquote>
          </div>
        </div>

      </div>
    </div>

  </div>
</ion-content>
