<ion-header>
    <ion-toolbar text-center>
        <ion-title style="margin-top:10px;width:80%;float:left">Inspection Checklist </ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large" style="float: right;"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form #form="ngForm" (ngSubmit)="SaveCheckList(recordid,seq_no)">
        <ion-grid>
            <ion-row>
                <ion-col size="7"></ion-col>
                <ion-col size="1">Yes</ion-col>
                <ion-col size="1">No</ion-col>
                <ion-col size="3">Condition</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="7">Was the correct part returns?</ion-col>
                <ion-col size="1">
                    <ion-checkbox  value="Yes"  (ionChange)="addUpdate($event)"  name="correct_part_yes" [checked]="isCorrectPartYes"></ion-checkbox>
                </ion-col>
                <ion-col size="1">
                    <ion-checkbox  value="No" (ionChange)="addUpdate($event)"  name="correct_part_no"  [checked]="isCorrectPartNo"></ion-checkbox>
                </ion-col>
                <ion-col size="3"> </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="7">Does the actual condition of the part match the customer's description?</ion-col>
                <ion-col size="1">
                    <ion-checkbox  value="Yes" (ionChange)="addUpdate($event)"  name="actual_condition_yes" [checked]="isActualConditionYes" ng-checked="isActualConditionYes" ></ion-checkbox>
                </ion-col>
                <ion-col size="1">
                    <ion-checkbox  value="No" (ionChange)="addUpdate($event)"  name="actual_condition_no" [checked]="isActualConditionNo" ng-checked="isActualConditionNo" ></ion-checkbox>
                </ion-col>
                <ion-col size="3">
                    <ion-select name="inspected_condition" (ionChange)="addUpdate($event)" *ngIf="isActualConditionNo">
                        <ion-select-option value="Chipped" selected>Chipped</ion-select-option>
                        <ion-select-option value="Rusted">Rusted</ion-select-option>
                        <ion-select-option value="Scratched">Scratched</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="button-grouping ion-padding">
            <ion-button size="large" expand="block" color="primary" type="submit">
                <ion-text>Save</ion-text>
            </ion-button>
        </div>
    </form>
</ion-content>