<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Customer Returns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customer Returns</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="text-center container h-full flex flex-col p-10" id="container">
    <strong class="capitalize">Customer Returns</strong>
    <div class="flex h-full">
      <div class="w-full flex flex-col items-center place-self-center">
        <button (click)="showBarcodeModal()" class="w-1/2 h-24 bg-red-500 rounded-xl p-4 shadow-xl mb-10">Scan Barcode</button>
        <button class="w-1/2 h-24 bg-red-500 rounded-xl p-4 shadow-xl">Create RMA</button>
      </div>
    </div>
  </div>
</ion-content>